.alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success{
    color: #09a009;
    background-color: #a9d2a9;
    border-color: #535353;
}
.alert-danger{
    color: #e20808;
    background-color: #ece0e0;
    border-color: #535353;
}
